<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
    <title>Bienvenu au projet 7 du parcours Data Scientist</title>
</head>

<body>
<h1>Bienvenue sur cette API !</h1>

<p>Bonjour et bienvenue sur mon site : API Scoring.<br />
    Ce modèle, à quoi ça sert ?</p>

<h2>Un modèle pour prédire le risque de défaut de paiement d'un client</h2>

<p> Ce modèle est développé avec les données du passé. Il suffit de renseigner les valeurs de 30 variables pour obtenir un score de défault de paiement !</p>
<p> Ces variables sont: <strong>'ext_source_2', 'ext_source_3', 'credit_length', 'ext_source_1', 'days_birth', 'days_employed', 'name_education_type', 'amt_credit', 'amt_goods_price', 'amt_annuity', 'bureau_days_credit_max', 'days_id_publish', 'bureau_days_credit_enddate_max', 'days_last_phone_change', 'bureau_days_credit_mean', 'occupation_type', 'ratio_annuite_income', 'days_registration', 'code_gender', 'region_population_relative', 'bureau_amt_credit_sum_debt_mean', 'income_per_person', 'own_car_age', 'bureau_amt_credit_sum_mean', 'bureau_days_credit_sum', 'bureau_amt_credit_sum_debt_max', 'bureau_amt_credit_sum_max', 'bureau_amt_credit_sum_min', 'name_income_type'</strong> </p>
<p>Vous pourrez ainsi connaître le risque de défaut de paiement d'un client en quelques clicks !</p>

<h2>Tout commence ici</h2>

<p>Vous êtes chaud pour tester le modèle ?<br />
    Rendez-vous sur la page  <a href="model"> du modèle</a>!</p>
</body>
</html>