<!DOCTYPE html>
<html>
<h1>
    Bienvenu(e) sur le modèle de prédiction!
</h1>
<center>
    <h2>
        Veuillez renseigner la valeur pour les 30 variables ci-dessous:
    </h2>
    <form method="POST">
        <label>Amount of credit:</label>
        <input type="number" name="amt_credit"><br />
        <label>amt_goods_price:</label>
        <input type="number" name="amt_goods_price"><br />
        <label>amt_annuity:</label>
        <input type="number" name="amt_annuity"><br />
        <label>bureau_days_credit_max:</label>
        <input type="number" name="bureau_days_credit_max"><br />
        <label>days_id_publish:</label>
        <input type="number" name="days_id_publish"><br />
        <label>bureau_days_credit_enddate_max:</label>
        <input type="number" name="bureau_days_credit_enddate_max"><br />
        <label>days_last_phone_change:</label>
        <input type="number" name="days_last_phone_change"><br />
        <label>credit_length:</label>
        <input type="number" name="credit_length"><br />
        <label>bureau_days_credit_mean:</label>
        <input type="number" name="bureau_days_credit_mean"><br />
        <label>ext_source_1:</label>
        <input type="number" name="ext_source_1"><br />
        <label>ext_source_2:</label>
        <input type="number" name="ext_source_2"><br />
        <label>ext_source_3:</label>
        <input type="number" name="ext_source_3"><br />
        <label>age:</label>
        <input type="number" name="age"><br />
        <label>months_employed:</label>
        <input type="number" name="months_employed"><br />
        <label>ratio_annuite_income:</label>
        <input type="number" name="ratio_annuite_income"><br />
        <label>days_registration:</label>
        <input type="number" name="days_registration"><br />
        <label>region_population_relative:</label>
        <input type="number" name="region_population_relative"><br />
        <label>bureau_amt_credit_sum_debt_mean:</label>
        <input type="number" name="bureau_amt_credit_sum_debt_mean"><br />
        <label>income_per_person:</label>
        <input type="number" name="income_per_person"><br />
        <label>own_car_age:</label>
        <input type="number" name="own_car_age"><br />
        <label>bureau_amt_credit_sum_mean:</label>
        <input type="number" name="bureau_amt_credit_sum_mean"><br />
        <label>bureau_days_credit_sum:</label>
        <input type="number" name="bureau_days_credit_sum"><br />
        <label>region_rating_client_w_city:</label>
        <input type="number" name="region_rating_client_w_city"><br />
        <label>bureau_amt_credit_sum_debt_max:</label>
        <input type="number" name="bureau_amt_credit_sum_debt_max"><br />
        <label>bureau_amt_credit_sum_max:</label>
        <input type="number" name="bureau_amt_credit_sum_max"><br />
        <label>bureau_amt_credit_sum_min:</label>
        <input type="number" name="bureau_amt_credit_sum_min"><br />
        <label>Education type:</label>
        label>bureau_amt_credit_sum_overdue_count:</label>
        <input type="number" name="bureau_amt_credit_sum_overdue_count"><br />
        <label>Education type:</label>
        <select name="name_education_type"><br />
        <option value="Secondary / secondary special">Secondary</option>
        <option value="Higher education">Highereducation</option>
        <option value="Incomplete Higher">IncompleteHigher</option>
        <option value="Lower secondary">LowerSecondary</option>
        <option value="Academic degree">Academicdegree</option>
        </select><br />
        <label>bureau_amt_credit_sum_min:</label>
        <input type="number" name="bureau_amt_credit_sum_min"><br />
        <label>code_gender:</label>
        <input type="number" name="code_gender"><br />
        <label>occupation_type:</label>
        <select name="occupation_type">
            <option value="Laborers">Laborers</option>
            <option value="Core staff">Core staff</option>
            <option value="Accountants">Accountants</option>
            <option value="Managers">Managers</option>
            <option value="Drivers">Drivers</option>
            <option value="Sales staff">Sales staff</option>
            <option value="Cleaning staff">Cleaning staff</option>
            <option value="Cooking staff">Cooking staff</option>
            <option value="Private service staff">Private service staff</option>
            <option value="Medicine staff">Medicine staff</option>
            <option value="Security staff">Security staff</option>
            <option value="High skill tech staff">High skill tech staff</option>
            <option value="Waiters/barmen staff">Waiters/barmen staff</option>
            <option value="Low-skill Laborers">Low-skill Laborers</option>
            <option value="Realty agents">Realty agents</option>
            <option value="Secretaries">Secretaries</option>
            <option value="IT staff">IT staff</option>
            <option value="HR staff">HR staff</option>
        </select><br />
        <label>name_income_type:</label>
        <select name="name_income_type">
            <option value="Working">Working</option>
            <option value="State servant">State servant</option>
            <option value="Commercial associate">Commercial associate</option>
            <option value="'Pensioner">Pensioner</option>
            <option value="Unemployed">Unemployed</option>
            <option value="Student">Student</option>
            <option value="Businessman">Businessman</option>
            <option value="Maternity leave">Maternity leave</option>
        </select><br />
        <input type="submit" value="Envoyer le formulaire">

</center>
